<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimal-ui">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="mobile-web-app-capable" content="yes">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<audio id="audio-player" controls autoplay>
    <source src="/stream" type="audio/aac">
</audio>

<div id="playlist"></div>
<div id="toast"></div>

<script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
